/*
{{ .Legal.Copyright }}
{{ if .Legal.Header }}{{ .Legal.Header }}{{ end }}
*/

package cmd

import (
	"github.com/spf13/cobra"
)

var rootCmd = &cobra.Command{
	Use:   "{{ .AppName }}",
	Short: "A brief description of your application",
	Long: `A longer description that spans multiple lines and likely contains
examples and usage of using your application. For example:

Cobra is a CLI library for Go that empowers applications.
This application is a tool to generate the needed files
to quickly create a Cobra application.`,
    PreRunE: func(cmd *cobra.Command, args []string) error {
        path, err := cmd.Flags().GetString("config")
        if err != nil {
            return err
        }
        return config.InitConfig(path, &config.CustomConfig{})
    },
	RunE: func(cmd *cobra.Command, args []string) error {
        path, err := cmd.Flags().GetString("config")
        if err != nil {
            return err
        }
        cmd.Println("default config called from root is:", path)
        return nil
    },
}

func Execute() {
	cobra.CheckErr(rootCmd.Execute())
}

func init() {
    rootCmd.CompletionOptions.DisableDefaultCmd = true

	rootCmd.Flags().StringP("config", "c", "config.yaml", "config file (default is config.yaml)")
}
